div.ui.footer {
  /* position: fixed; */
  /* width: 100vw;
  position: absolute;
  bottom: 0; */
  width: 100vw;
  clear: both;
  position: relative;
  margin-top: -80px;
}

.login-form {
  max-width: 40vw;
  min-width: 500px;
  margin: auto;
}

#big_five,
#skills {
  max-width: 60vw;
  min-width: 500px;
  align-self: center;
}

.bigger-hover:hover {
    transform: scale(1.01);
}

.develop-hover {
    padding-bottom: 1.5em;
}

.bar-to-fill-scroll {
    width: 0;
}

.bar-to-fill-appear {
    width: 0;
}

.under_list {
    flex: 1;
}

.buttons-container {
  text-align: center;
  display: flex !important;
  justify-content: space-around;
}

.container.home {
  text-align: center;
  display: flex !important;
  justify-content: space-around;
}

.home > div {
  max-width: 95vw;
}

.home > .row > div {
  height: 100%;
}

.title {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-size: 5rem !important;
}

#content {
    margin: 10px;
    min-height: calc(100vh - 147px);
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  padding: 10px;
  position: absolute;
  right: 0;
  z-index: 999;
}

.profile img {
  border: 1px solid black;
  margin-left: 5px;
}

#name_profile {
    font-size: 50px;
}

#general_infos .image {
    border: 1px solid black;
    padding: 5px;
}

button a {
    color: #555
}

button a:hover {
    color: #555
}

body {
    color: #555
}