{% extends 'base.html' %} {% load static %} {% block content %}
<!-- <h1>
  Bienvenue {% if user.is_authenticated %}{{user.first_name}} {{user.last_name}}{% endif %} sur le
  site de DeepFace
</h1> -->

{% if user.is_authenticated %}
<div class="ui profile right">
  <div class="name">{{user.first_name}} {{user.last_name}}</div>
  <div>
    <a href="{% url 'profile' %}">
      <img class="ui tiny image circular" src="{% static 'pictures/user.png' %}" />
    </a>
  </div>
</div>
{% endif %}

<div class="ui two column centered grid home">
  <div class="four column centered row">
    <img class="ui small image column" src="{% static 'pictures/deepself_logo.png' %}" />
    <div class="column">
      <div class="title">
        <h1>DeepSelf</h1>
      </div>
    </div>
  </div>
</div>

<div class="ui container buttons-container">
  <button class="ui button massive">Je m'informe</button>
  <button class="ui button massive">Je m'engage</button>
  <button class="ui button massive">J'attends un diagnostic</button>
</div>
{% endblock content %} {% block footer %} {% endblock footer %}
