{% extends 'base.html' %}
{% load static %}

{% block title %}Deepself - Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="ui profile right">
  <div class="name">{{user.first_name}} {{user.last_name}}</div>
  <div>
    <a href="{% url 'profile' %}">
      <img class="ui tiny image circular bigger-hover" src="{% static 'pictures/user.png' %}" />
    </a>
  </div>
</div>
{% endif %}

<div class="ui two column centered grid home">
  <div class="four column centered row">
    <img class="ui small image column" src="{% static 'pictures/deepself_logo.png' %}" />
    <div class="column">
      <div class="title">
        <h1>DeepSelf</h1>
      </div>
    </div>
  </div>
</div>

<div class="ui container buttons-container">
  <button class="ui button massive"><a href="{% url 'dev_mod' %}">Je m'informe</a></button>
  <button class="ui button massive"><a href="{% url 'collec_init' %}">Je m'engage</a></button>
  <button class="ui button massive"><a href="{% url 'chatbot' %}">J'attends un diagnostic</a></button>
</div>
{% endblock content %} {% block footer %} {% endblock footer %}
