{% extends 'base.html' %}

{% load static %}

{% block content %}

<button><a href="{% url 'new_project' %}">Je propose un projet</a></button>

<div id="your_projects">
    <h1>Voici vos projets</h1>
    <ul id="your_projects_ul">
        {% for project in collab.projects.distinct %}
            <li><a href="{% url 'project' project.id %}">{{project.name}}</a></li>
        {% endfor %}
    </ul>
</div>

<button>Best Practices</button>
<button>Votes</button>
<button>Chats</button>

<button><a href="{% url 'other_projects' %}">Voir les autres projets</a></button>

{% endblock content %}