{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<div class="ui" id="profile_picture">
  <img class="ui medium circular image" src="" />
</div>

<div class="ui" id="general_infos">
  <img class="ui small image" src="{% static 'pictures/user.png' %}" />
  <!-- <h2>Informations générales</h2> -->
  <ul class="ui" id="global_infos_ul">
    <li>Nom: {{collab.user.first_name}} {{collab.user.last_name}}</li>
    <li>Fonction: {{collab.job}}</li>
    <li>
      centres d'intérêt:
      <ul class="ui" id="hobbies_list">
        {% for hobby in collab.hobbies.all %} <li>{{hobby.name}}</li> {% endfor %}
      </ul>
    </li>
  </ul>
</div>

<div class="ui divider"></div>

<div class="ui" id="projects">
  <h1>Projets</h1>
  <ul class="ui" id="projects_list" style="list-style: none; padding-left: 50px; padding-right: 50px;">
    {% for project, roles_list in dico_projects.items %}
    <li>
      <a href="{% url 'project' project.id %}">
        <button class="ui button" style="width: 100%; margin: 2px;">
          <strong>{{project.name}}</strong>
          {% for role in roles_list%}
          - {{role}}
          {% endfor %}
        </button>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="ui divider"></div>

<div class="ui" id="big_five">
  <h1>Personnalité</h1>
  <div class="ui progress" data-percent="{{collab.extroversion}}">
    <div class="bar" style="width: {{collab.extroversion}}%; background-color: red">
      <div class="progress">{{collab.extroversion}}</div>
    </div>
    <div class="label">Extraversion</div>
  </div>
  <div class="ui progress" data-percent="{{collab.conscientiousness}}">
    <div class="bar" style="width: {{collab.conscientiousness}}%; background-color: blue">
      <div class="progress">{{collab.conscientiousness}}</div>
    </div>
    <div class="label">conscienciosité</div>
  </div>
  <div class="ui progress" data-percent="{{collab.neurotism}}">
    <div class="bar" style="width: {{collab.neurotism}}%; background-color: green">
      <div class="progress">{{collab.neurotism}}</div>
    </div>
    <div class="label">neurotisme</div>
  </div>
  <div class="ui progress" data-percent="{{collab.opening}}">
    <div class="bar" style="width: {{collab.opening}}%; background-color: orange">
      <div class="progress">{{collab.opening}}</div>
    </div>
    <div class="label">ouverture</div>
  </div>
  <div class="ui progress" data-percent="{{collab.pleasantness}}">
    <div class="bar" style="width: {{collab.pleasantness}}%; background-color: purple">
      <div class="progress">{{collab.pleasantness}}</div>
    </div>
    <div class="label">agréabilité</div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui" id="values">
  <h1>Valeurs</h1>
  <div id="values_container" style="width:55%">
    <canvas id="values_chart"></canvas>

     <script>

        var config = {
          type: 'pie',
          data: {
            datasets: [{
              data: {{ levels|safe }},
              backgroundColor: [
                '#90EE90', '#ADD8E6', '#9370DB', '#FA8072', '#FF7F50', '#F0E68C'
              ],
              label: 'Valeurs'
            }],
            labels: {{ values|safe }}
          },
          options: {
            responsive: true
          }
        };

        window.onload = function() {
          var ctx = document.getElementById('values_chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
        };

      </script>


  </div>
</div>

<div class="ui divider"></div>

<div class="ui" id="skills">
  <h1>Compétences</h1>
  <ul class="ui" id="skills_list" style="list-style: none; padding: 0; width: 50%">
    {% for skill_level in skill_levels %}
    <li>
      <div class="ui progress" data-percent="{{skill_level.skill_level}}">
      <div class="bar" style="width: {{skill_level.skill_level}}%; background-color: {{skill_level.skill.color}}">
        <div class="progress">{{skill_level.skill_level}}</div>
      </div>
      <div class="label">{{skill_level.skill.name}}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="ui divider"></div>

<div class="ui" id="deepself_score">
  <h1>Score DeepSelf</h1>
</div>


{% endblock content %}
