{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% block title %}DeepSelf{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>

  <body>
    <!-- <header>DeepSelf</header> -->
    <!-- <img src="{% static 'pictures/deepself_logo.png' %}" width="80px" /> -->
    <div class="ui segment">
      <div class="ui secondary menu">
        {% block nav %}
        <a class="item" href="{% url 'home' %}">Accueil</a>
        <a class="item" href="{% url 'profile' %}">Profil</a>
        <a class="item" href="{% url 'orga' %}">Organigramme communicationnel</a>
        <a class="item" href="{% url 'dev_mod' %}">Modules de développement</a>
        <a class="item" href="{% url 'collec_init' %}">Initiatives collectives</a>
        <a class="item" href="{% url 'chatbot' %}">Chatbot</a>
        <a class="item" href="{% url 'baro' %}">Baromètres</a>
        <a class="item" href="{% url 'help' %}">Aide</a>
        <div class="right menu">
          {% if user.is_authenticated %}
          <a class="item" href="{% url 'logout' %}">Déconnexion</a>
          {% else %}
          <a class="item" href="{% url 'login' %}">Connexion</a>
          {% endif %} {% endblock %}
        </div>
      </div>
    </div>
    <section id="content">{% block content %}{% endblock %}</section>
    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <!-- <img
          class="ui centered small image right"
          src="{% static 'pictures/deepself_logo.png' %}"
        /> -->
        <p>Feel better with your(deep)self</p>
        {% block footer %}{% endblock %} &copy; DeepSelf
      </div>
    </div>
  </body> 
  <script src="{% static 'js/base.js' %}"></script>
</html>
